@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<DbApplication.Models.Article>

<div class="row">
    <h2>List</h2>
    <ul>
        @foreach(var article in Model)
        {
            <li>@article.Title</li>
        }
    </ul>
    <p><a asp-controller="Articles" asp-action="Create">Create new Article</a></p>


</div>

